<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- <meta name="description" content="">
  <meta name="author" content="">-->
  <link rel="icon" href="/favicon.ico">

  <title>Administration</title>

  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <%= render 'administration/common/navbar' %>
  <div class="container-fluid">
    <div class="row">
      <%= render 'administration/common/rwd_left_nav'%>
      <!-- right side dashboard -->
      <!-- origin -->
      <div class="col-xs-9 col-xs-offset-3 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= notice_message %>
        <%= yield :sub_functions %>
        <%= administration_function_tag(@function_title) %>

        <%# render 'administration/common/rwd_block' %>
        <%# render 'administration/common/rwd_table' %>

        <%= yield %>
      </div><!--  end right dashboard -->
    </div> <!-- end row -->
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'administration', 'data-turbolinks-track' => true %>
  <%= yield :js_bottom %>
  <%= stylesheet_link_tag  'administration', media: 'all', 'data-turbolinks-track' => true %>
</body>
</html>
